<div class="admin-app">
    <nav class="navbar navbar-default navbar-fixed-top app-navbar">
        <div class="{{app.settings.navbarHeaderColor}} navbar-header clearfix" [class.folded]="app.settings.asideFolded">
            <div class="btn-group pull-right hidden-md-up m-r-10 m-t-10">
                <button class="btn btn-secondary">
                    <i class="fa fa-cog"></i>
                </button>
                <button class="btn btn-secondary">
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
            <a href="#/" class="navbar-brand">
                <i class="fa fa-btc"></i>
                <span class="m-l-xs">{{app.name}}</span>
            </a>
        </div>

        <div class="clearfix app-navbar-nav hidden-sm-down" [class.aside-folded]="app.settings.asideFolded">
            <div class="navbar-nav-wrapper">
                <div class="nav navbar-nav pull-left">
                    <span class="btn no-shadow navbar-btn" (click)="app.settings.asideFolded = !app.settings.asideFolded">
                        <i class="fa fa-fw" [ngClass]="{'fa-indent': app.settings.asideFolded, 'fa-dedent': !app.settings.asideFolded}"></i>
                    </span>
                    <a href class="btn no-shadow navbar-btn">
                        <i class="fa fa-user-o fa-fw"></i>
                    </a>
                </div>
                <!-- / buttons -->

                <!-- link and dropdown -->
                <ul class="nav navbar-nav hidden-md-down pull-left">
                    <li class="dropdown nav-item" dropdown>
                        <a href class="nav-link dropdown-toggle">
                            <span>Mega</span>
                            <span class="caret"></span>
                        </a>
                    </li>
                    <li class="dropdown nav-item" dropdown>
                        <a href class="nav-link dropdown-toggle">
                            <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                            <span>New</span> <span class="caret"></span>
                        </a>
                    </li>
                </ul>
                <!-- / link and dropdown -->

                <!-- search form -->
                <form class="form-inline pull-left m-l-5 hidden-md-down">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light no-border no-shadow rounded" placeholder="查找..."/>
                            <span class="input-group-addon bg-light rounded">
                                <button type="submit" class="btn bg-light no-shadow rounded"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
                <!-- / search form -->

                <!-- nabar right -->
                <ul class="nav navbar-nav pull-right hidden-sm-down m-r-15">
                    <li class="nav-item">
                        <a ui-fullscreen></a>
                    </li>
                    <li class="dropdown nav-item" dropdown>
                        <a href class="dropdown-toggle nav-link" dropdown-toggle>
                            <i class="fa fa-bell-o fa-fw pos-relative">
                                <span class="tag tag-pill tag-primary badge">2</span>
                            </i>
                            <span>&nbsp;Notifications</span>

                        </a>
                    </li>
                    <li class="dropdown nav-item" dropdown>
                        <a href class="dropdown-toggle nav-link" dropdown-toggle>
                            <span class="avatar m-l-5 pull-right">
                                <img src="./a0.jpg" alt="...">
                                <i></i>
                              </span>
                            <span class="hidden-sm">John.Smith</span><b class="caret"></b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="nav-aside bg-black" [class.folded]="app.settings.asideFolded">
        <ul class="nav">
            <li>
                <a href class="dropdown-toggle nav-link">
                    <i class="fa fa-bell-o fa-fw pos-relative">
                        <span class="tag tag-pill tag-primary badge">2</span>
                    </i>
                    <span>&nbsp;Notifications</span>
                </a>
            </li>
            <li>
                <a href>
                    <span class="hidden-sm">John.Smith</span><b class="caret"></b>
                </a>
            </li>
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span>Navigation</span>
            </li>
            <li toggleClass="active">
                <a href="javascript:void(0)" class="auto">
                    <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
                    <span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>
                </a>
                <ul class="nav nav-sub dk">
                    <li class="nav-sub-header">
                        <a href>
                            <span translate="aside.nav.DASHBOARD">Dashboard</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.dashboard-v1">
                            <span>Dashboard v1</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.dashboard-v2">
                            <b class="label bg-info pull-right">N</b>
                            <span>Dashboard v2</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="app-content" [class.aside-folded]="app.settings.asideFolded">
        <router-outlet></router-outlet>
    </div>
</div>
