@import 'bootstrap';
@import 'font-awesome';

html, body {
  background-color: #f0f3f4;
  margin: 0;
  padding: 0;
  position: relative;
}

.pos-relative {
  position: relative;
}

.no-shadow {
  box-shadow: none !important;
}

.no-border {
  border: none !important;
}

.rounded {
  border-radius: 500px;
}

.bg-light {
  color: #58666e;
  background-color: $bg-light;
}

.bg-lighter {
  background-color: $bg-lighter;
}

.bg-black {
  color: #7793a7;
  background-color: $bg-black;
}

.bg-blacker {
  background-color: $bg-black-darker;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 3px 6px;
}

.app-page-title {
  border-bottom: 1px solid $color-border-light;
  padding: 15px;
  margin-bottom: 15px;
  backgroundf: $bg-lighter;
  @include clearfix();
  .btn {
    font-size: 16px;
  }
}

// margin variants
@each $size in 0 1 2 3 4 5 6 7 8 9 10 {
  .m-#{$size*5} {
    margin: $size*5px;
  }

  @each $side in (l, left) (r, right) (t, top) (b, bottom) {
    .m-#{nth($side,1)}-#{$size*5} {
      margin-#{nth($side,2)}: $size*5px;
    }
  }
}


// padding variants
@each $size in 0 1 2 3 4 5 6 7 8 9 10 {
  .p-#{$size*5} {
    padding: $size*5px;
  }

  @each $side in (l, left) (r, right) (t, top) (b, bottom) {
    .p-#{nth($side,1)}-#{$size*5} {
      padding-#{nth($side,2)}: $size*5px;
    }
  }
}

// border
@each $side in (a, '') (l, '-left') (r, '-right') (t, '-top') (b, '-bottom') {
  .b-#{nth($side,1)} {
    border#{nth($side,2)}: 1px solid $color-border-light;
  }
}