@import 'bootstrap';
@import 'font-awesome';

html, body {
  background-color: #f0f3f4;
  margin: 0;
  padding: 0;
  position: relative;
}

.pos-relative {
  position: relative;
}

.no-shadow {
  box-shadow: none !important;
}

.no-border {
  border: none !important;
}

.rounded {
  border-radius: 500px;
}

.bg-light {
  color: #58666e;
  background-color: $bg-light;
}

.bg-lighter {
  background-color: $bg-lighter;
}

.bg-white {
  background-color: #FFF;
}

.bg-black {
  color: #7793a7;
  background-color: $bg-black;
}

.bg-blacker {
  background-color: $bg-black-darker;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 3px 6px;
}

.search-block {
  padding: 0 15px;
  background-color: #FFF;
  border-bottom: 1px solid $color-border-light;
  margin: 0 0 10px 0;

  .search-header {
    height: 50px;
    border-bottom: 1px solid $color-border-light;
    background-color: $bg-lighter;
    margin: 0 -15px 20px -15px;
    padding: 10px 15px;
    @include clearfix;
    h4 {
      line-height: 30px;
    }
  }
}

.page-title-block {
  border-bottom: 1px solid $color-border-light;
  padding: 10px 15px;
  background-color: $bg-lighter;
  height: 50px;
  @include clearfix;

  h4 {
    line-height: 30px;
  }
}

// 分隔线
.line {
  width: 100%;
  height: 1px;
  overflow: hidden;
  font-size: 0;
  border-bottom: 1px solid #dee5e7;
  &.line-dashed {
    border-width: 0;
    border-bottom-width: 1px;
    background-color: transparent;
    border-style: dashed !important;
  }
}

// margin variants
@each $size in 0 1 2 3 4 5 6 7 8 9 10 {
  .m-#{$size*5} {
    margin: $size*5px;
  }

  @each $side in (l, left) (r, right) (t, top) (b, bottom) {
    .m-#{nth($side,1)}-#{$size*5} {
      margin-#{nth($side,2)}: $size*5px;
    }
  }
}

@each $size in 0 1 2 3 4 5 6 7 8 9 10 {
  .m-x-#{$size*5} {
    margin-left: $size*5px;
    margin-right: $size*5px;
  }
  .m-y-#{$size*5} {
    margin-top: $size*5px;
    margin-bottom: $size*5px;
  }
}


// padding variants
@each $size in 0 1 2 3 4 5 6 7 8 9 10 {
  .p-#{$size*5} {
    padding: $size*5px;
  }

  @each $side in (l, left) (r, right) (t, top) (b, bottom) {
    .p-#{nth($side,1)}-#{$size*5} {
      padding-#{nth($side,2)}: $size*5px;
    }
  }
}

@each $size in 0 1 2 3 4 5 6 7 8 9 10 {
  .p-x-#{$size*5} {
    padding-left: $size*5px;
    padding-right: $size*5px;
  }
  .p-y-#{$size*5} {
    padding-top: $size*5px;
    padding-bottom: $size*5px;
  }
}

// border
@each $side in (a, '') (l, '-left') (r, '-right') (t, '-top') (b, '-bottom') {
  .b-#{nth($side,1)} {
    border#{nth($side,2)}: 1px solid $color-border-light;
  }
}

.b-x {
  border-left: 1px solid $color-border-light;
  border-right: 1px solid $color-border-light;
}

.b-y {
  border-top: 1px solid $color-border-light;
  border-bottom: 1px solid $color-border-light;
}