<div class="app-page-title">
    <h4 class="m-0 pull-left"><i class="fa fa-sitemap text-primary m-r-10"></i>部门管理</h4>
    <div class="pull-right">
        <span class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> 添加部门</span>
    </div>
</div>

<div class="card card-block no-border">
    <h3 class="card-title">Special title treatment</h3>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>