<div class="p-10 clearfix">
    <h4 class="m-0 pull-left"><i class="fa fa-sitemap text-primary m-r-10"></i>部门管理</h4>
    <div class="pull-right">
        <span class="btn btn-primary"><i class="fa fa-plus"></i> 添加部门</span>
    </div>
</div>

<div class="card card-block no-border">
    <div class="row">
        <div class="col-sm-3">
            <div class="input-group">
                <label class="input-group-addon">名称</label>
                <input type="text" [(ngModel)]="queryParams.nameLk" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <label class="input-group-addon">机构码</label>
                <input type="text" [(ngModel)]="queryParams.orgCode" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <label class="input-group-addon">省</label>
                <select [(ngModel)]="queryParams.provinceCode" (change)="onProvinceChange()" class="form-control">
                    <option *ngFor="let province of provinces" [value]="province.code">{{province.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <label class="input-group-addon">市</label>
                <select [(ngModel)]="queryParams.cityCode" class="form-control">
                    <option *ngFor="let city of cities" [value]="city.code">{{city.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row m-t-10">
        <div class="col-sm-12 text-xs-right">
            <button class="btn btn-warning" (click)="resetQueryParams()">重置</button>
            <button class="btn btn-primary m-l-5" (click)="getDepartments()">查询</button>
        </div>
    </div>
</div>

<div class="card card-block no-border">
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>名称</th>
                <th>机构码</th>
                <th>顶级机构</th>
                <th>省</th>
                <th>市</th>
                <th>创建时间</th>
                <th>创建人</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let department of departments; let i = index" data-id="{{department.id}}">
                <th>{{i + 1}}</th>
                <td>{{department.name}}</td>
                <td>{{department.orgCode}}</td>
                <td>{{department.rootCode}}</td>
                <td>{{department.province}}</td>
                <td>{{department.city}}</td>
                <td>{{department.createTime}}</td>
                <td>{{department.createUsername}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid">
        <div class="col-sm-3">
            <div class="input-group">
                <label class="input-group-addon">每页大小</label>
                <select [(ngModel)]="pagination.pageSize" class="form-control" style="width: 60px;">
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                    <option>30</option>
                    <option>50</option>
                </select>
            </div>
        </div>
        <div class="col-sm-9">
            <ngb-pagination [collectionSize]="pagination.totalSize" [(page)]="pagination.page"
                            [pageSize]="pagination.pageSize" [maxSize]="5" [rotate]="true"
                            [boundaryLinks]="true" class="pull-right" (pageChange)="getDepartments()"></ngb-pagination>
        </div>
    </div>
</div>