<div class="page-title-block">
    <h4 class="m-0">
        <i class="fa fa-sitemap text-primary m-r-10"></i>
        <a routerLink="/web/department">部门管理</a> &gt; <small>添加部门</small>
    </h4>
</div>
<div class="container-fluid b-b bg-white">
    <form class="form-horizontal">
        <div class="form-group container-fluid p-y-15 m-0">
            <label class="col-sm-2 text-sm-right">上级部门</label>
            <div class="col-sm-10">
                <select class="form-control">
                    <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
                </select>
            </div>
        </div>
        <div class="line line-dashed"></div>
        <div class="form-group container-fluid p-y-15 m-0">
            <label class="col-sm-2 text-sm-right">部门名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="line line-dashed"></div>
        <div class="form-group container-fluid p-y-15 m-0">
            <label class="col-sm-2 text-sm-right">省</label>
            <div class="col-sm-10">
                <select [(ngModel)]="department.provinceCode" (change)="onProvinceChange()" name="provinceCode" class="form-control">
                    <option *ngFor="let province of provinces" [value]="province.code">{{province.name}}</option>
                </select>
            </div>
        </div>
        <div class="line line-dashed"></div>
        <div class="form-group container-fluid p-y-15 m-0">
            <label class="col-sm-2 text-sm-right">市</label>
            <div class="col-sm-10">
                <select [(ngModel)]="department.cityCode" name="cityCode" class="form-control">
                    <option *ngFor="let city of cities" [value]="city.code">{{city.name}}</option>
                </select>
            </div>
        </div>
        <div class="line line-dashed"></div>
        <div class="form-group container-fluid p-y-15 m-0">
            <label class="col-sm-2 text-sm-right">地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="line line-dashed"></div>
        <div class="container-fluid p-y-15">
            <div class="col-sm-10 offset-sm-2">
                <button class="btn btn-primary">提 交</button>
            </div>
        </div>
    </form>
</div>