<nav class="nav-aside bg-black" [class.folded]="leftMenuFolded">
    <ul class="nav">
        <li class="hidden-folded text-muted small">
            <span>Dashboard</span>
        </li>
        <li focusClass="focus" routerLinkActive="active">
                <span class="nav-item" toggleClass="active">
                    <span class="pull-right text-muted hidden-folded">
                        <i class="fa fa-fw fa-angle-right icon-collapsed"></i>
                        <i class="fa fa-fw fa-angle-down icon-expanded"></i>
                    </span>
                    <i class="fa fa-truck text-primary"></i><span class="hidden-folded">车辆管理</span>
                </span>
            <ul class="nav nav-sub">
                <li>
                    <a routerLink="/no-content">
                        <span>Dashboard v1</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="app.dashboard-v2">
                        <span>Dashboard v2</span>
                    </a>
                </li>
            </ul>
        </li>
        <li focusClass="focus">
                <span class="nav-item" toggleclass="active">
                    <i class="fa fa-users text-success"></i><span class="hidden-folded">司机管理</span>
                </span>
        </li>
        <li focusClass="focus">
                <span class="nav-item" toggleclass="active">
                    <i class="fa fa-address-card-o text-info"></i><span class="hidden-folded">信息部管理</span>
                </span>
        </li>
        <li focusClass="focus">
                <span class="nav-item" toggleclass="active">
                    <i class="fa fa-code-fork text-warning"></i><span class="hidden-folded">线路管理</span>
                </span>
        </li>
        <li focusClass="focus">
                <span class="nav-item" toggleclass="active">
                    <i class="fa fa-archive text-danger"></i><span class="hidden-folded">合同管理</span>
                </span>
        </li>
        <li class="separator"></li>
        <li class="hidden-folded text-muted small">
            <span>Management</span>
        </li>
        <li focusClass="focus" routerLinkActive="current">
            <a routerLink="/web/department" class="nav-item" toggleClass="active">
                <span class="pull-right text-muted hidden-folded">
                    <i class="fa fa-fw fa-angle-right icon-collapsed"></i>
                    <i class="fa fa-fw fa-angle-down icon-expanded"></i>
                </span>
                <i class="fa fa-sitemap text-primary"></i><span class="hidden-folded">部门管理</span>
            </a>
            <ul class="nav nav-sub">
                <li>
                    <a routerLink="/web/home">
                        <span>Dashboard v1</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="app.dashboard-v2">
                        <span>Dashboard v2</span>
                    </a>
                </li>
            </ul>
        </li>
        <li focusClass="focus">
                <span class="nav-item" toggleclass="active">
                    <i class="fa fa-address-book-o text-success"></i><span class="hidden-folded">员工管理</span>
                </span>
        </li>
        <li class="separator"></li>
        <li class="hidden-folded text-muted small">
            <span>Maintenance</span>
        </li>
        <li focusClass="focus">
                <span class="nav-item" toggleclass="active">
                    <i class="fa fa-tachometer text-info"></i><span class="hidden-folded">运行状态</span>
                </span>
        </li>
        <li focusClass="focus">
                <span class="nav-item" toggleclass="active">
                    <i class="fa fa-thermometer-three-quarters text-warning"></i><span class="hidden-folded">健康指数</span>
                </span>
        </li>
        <li class="separator"></li>
        <li class="hidden-folded text-muted small">
            <span>About me</span>
        </li>
        <li focusClass="focus">
                <span class="nav-item" toggleclass="active">
                    <i class="fa fa-user-o text-danger"></i><span class="hidden-folded">我的帐户</span>
                </span>
        </li>
    </ul>
</nav>