<nav class="navbar navbar-default navbar-fixed-top app-navbar">
    <div class="navbar-header bg-black clearfix" [class.folded]="leftMenuFolded">
        <div class="btn-group pull-right hidden-md-up m-r-10 m-t-10">
            <button class="btn btn-secondary">
                <i class="fa fa-cog"></i>
            </button>
            <button class="btn btn-secondary">
                <i class="fa fa-align-justify"></i>
            </button>
        </div>
        <a href="#/" class="navbar-brand">
            <i class="fa fa-btc"></i>
            <span *ngIf="!leftMenuFolded" class="title">则一货运</span>
        </a>
    </div>

    <div class="clearfix app-navbar-nav hidden-sm-down" [class.aside-folded]="leftMenuFolded">
        <div class="navbar-nav-wrapper">
            <div class="nav navbar-nav pull-left m-l-15">
                <a href="javascript:void(0)" class="btn" (click)="toggleLeftMenuFolded()">
                    <i class="fa fa-fw" [ngClass]="{'fa-indent': leftMenuFolded, 'fa-dedent': !leftMenuFolded}"></i>
                </a>
                <a href="javascript:void(0)" class="btn">
                    <i class="fa fa-user-o fa-fw"></i>
                </a>
            </div>
            <!-- / buttons -->

            <!-- link and dropdown -->
            <ul class="nav navbar-nav hidden-md-down pull-left">
                <li class="dropdown nav-item" dropdown>
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                        <span>Mega</span>
                        <span class="caret"></span>
                    </a>
                </li>
                <li class="dropdown nav-item" dropdown>
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                        <i class="fa fa-fw fa-plus"></i>
                        <span>New</span> <span class="caret"></span>
                    </a>
                </li>
            </ul>
            <!-- / link and dropdown -->

            <!-- search form -->
            <form class="form-inline pull-left m-l-5 hidden-md-down">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light no-border no-shadow rounded" placeholder="查找..."/>
                        <span class="input-group-addon bg-light rounded">
                                <button type="submit" class="btn bg-light no-shadow rounded"><i class="fa fa-search"></i></button>
                            </span>
                    </div>
                </div>
            </form>
            <!-- / search form -->

            <!-- nabar right -->
            <ul class="nav navbar-nav pull-right hidden-sm-down m-r-15">
                <li class="nav-item" *ngIf="screenfullEnabled">
                    <a href="javascript:void(0)" class="btn" (click)="toggleFullScreen()">
                        <i class="fa fa-fw" [ngClass]="{'fa-expand': !isFullScreen, 'fa-compress': isFullScreen}"></i>
                    </a>
                </li>
                <li class="dropdown nav-item" dropdown>
                    <a href class="dropdown-toggle nav-link" dropdown-toggle>
                        <i class="fa fa-bell-o fa-fw pos-relative">
                            <span class="tag tag-pill tag-primary badge">2</span>
                        </i>
                        <span>&nbsp;Notifications</span>

                    </a>
                </li>
                <li class="dropdown nav-item" dropdown>
                    <a href class="dropdown-toggle nav-link" dropdown-toggle>
                            <span class="avatar m-l-5 pull-right">
                                <img src="./a0.jpg" alt="...">
                                <i></i>
                              </span>
                        <span class="hidden-sm">John.Smith</span><b class="caret"></b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>